/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/AbstractElectronicDevice/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/AbstractShape/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/FinalExamples/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/ImmutableClassDemo/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/InnerClassDemo/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/NestedClassExamples/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/NestedClasses/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson5/NestedClassInner/Stack/nbproject/private/
/Classwork/JavaAdvProject/src/main/java/Lesson6/AnonymousInnerClasses/nbproject/private/
/Classwork/AnonymousInnerClasses/nbproject/private/
/Classwork/InterfaceBanking06-02Soln/nbproject/private/
/Classwork/Pet06-01Soln/nbproject/private/